<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.google.s3.notice.NoticeDAO">
	<select id="getList" resultType="com.google.s3.notice.NoticeDTO">
		select * from notice order by num desc
	</select>
	
	<select id="getSelect" parameterType="com.google.s3.notice.NoticeDTO" resultType="com.google.s3.notice.NoticeDTO">
		select * from notice where num = #{num}
	</select>
	
	<insert id="setInsert" parameterType="com.google.s3.notice.NoticeDTO">
		insert into notice values(notice_seq.nextval, #{num}, #{title}, #{writer}, #{contents}, #{regdate})
	</insert>
	
	<update id="setUpdate" parameterType="com.google.s3.notice.NoticeDTO">
		update notice set title=#{title}, writer=#{writer}, contents=#{contents}, regdate=#{regdate}, hit=#{hit} where num=#{num}
	</update>
	
	<delete id="setDelete" parameterType="com.google.s3.notice.NoticeDTO">
		delete notice where num=#{num}
	</delete>
</mapper>